.edu{
    background-color: #070c27;
    width: 100%;
}
.edu-title{
    margin-top: 50px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edu-title  h1{
    display: flex;
    color: #212A3E;
    font-size: 40px;
    font-weight: 700;
    margin: 30px;
}
.edu-data{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,3fr));
    background-color: #070c27;
    width: 100%;
    margin-bottom: 50px;
    height: auto;
}
.edu-data .ed{
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 30px;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: inset 180px 60px 180px #070c27;
    border: solid 10px #9BA4B5;
}
.edu-data > .ed > h2,p{
    color: #F1F6F9;
    background-color: transparent;
    padding: 20px;
    z-index: 2;      
}
.engg{
    background-image: url("../images/hkbk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.puc{
    background-image: url("../images/goodwill.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.schl{
    background-image: url("../images/schl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.ed:hover{
    cursor: pointer;
}